<!DOCTYPE html>
<html>

<head>
    <title>Static Website</title>
    <script src="js/components/home.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <div class="main-container">
        <div class="left-zone">
            <nav class="menu">
                <ul>
                    <li v-for="item in menuItems" :key="item.text"
                        :class="{ open: item.isOpen, 'add-arrow': item.children && item.children.length > 0, active: $route.path === item.url }">
                        <a href="#" @click.prevent="handleMenuClick(item)">{{ item.text }}</a>

                        <ul v-if="item.isOpen && item.children && item.children.length > 0">
                            <li v-for="child in item.children" :key="child.text"
                                :class="{ active: $route.path === child.url }">
                                <router-link :to="child.url" @click.native="switchView(child.text)">{{ child.text
                                    }}</router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <router-view></router-view>
        </div>

    </div>

    <script src="js/index.js"></script>
</body>

</html>