html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 防止全局滚动 */
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-zone {
    width: 200px;
    background-color: #b4aaaa;
    border-right: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 1;
    overflow-y: auto;
}

.menu ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
    color: #007BFF;
}

.menu li.active>a {
    background-color: #007BFF;
    color: white;
}

.content {
    margin-left: 10px;
    flex: 1;
    /* 自动填充剩余空间 */
    overflow-y: auto;
    /* 只在需要时显示滚动条 */
    padding: 10px;
    box-sizing: border-box;
}

/* Styles for nested menus */
.menu ul li a {
    padding-left: 15px;
    /* Add extra padding for nested items */
}

/* Add a caret for items with children 
.menu li>a::after {
    content: '▶';
    font-size: 12px;
    margin-left: 10px;
    float: right;
    transition: transform 0.3s;
}
*/


.menu li.open>ul {
    display: block;
    /* Show submenu when parent is open */
}

.menu li.add-arrow>a::after {
    content: '▶';
    font-size: 12px;
    margin-left: 10px;
    float: right;
    transition: transform 0.3s;
}

.menu li.open>a::after {
    transform: rotate(90deg);
    /* Rotate caret when submenu is open */
}




.gold-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.gold-info button {
    width: 100px;
    height: 80px;
    margin: 5px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.gold-info div {
    border-color: aqua;
    border-radius: 2px;
    border-style: solid;
    width: 300px;
    height: 80px;
}